.service {
  background-image: url("../../images/bg-service.jpg");
  background-size: cover;
}
.service .title p {
  color: var(--lightGray);
  font-size: 1rem;
  margin-bottom: 10px;
}
.service .title h2 {
  color: var(--black);
  font-size: 50px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 40px;
}
.service .cards .Card {
  background-color: var(--gray);
  padding: 30px;

  height: 100%;
  /* display: flex; */

  /* justify-content: center; */
}
.service .cards .Card .wrap-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.service .wrap-icon img {
  width: 60%;
  /* color: white; */
}
.service .cards .department-name {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin: 25px 0 8px 0;
  text-align: center;
}
.service .cards .department-text {
  color: var(--lightGray);
  text-align: center;
  font-size: 14px;
}
@media (max-width: 500px) {
  .service .title h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .service .title h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
/* @media (min-width: 500px) {
  .about {
    padding-top: 50px;
  }
  .about .aboutCompany {
    margin-top: 4rem;
  }
}
@media (max-width: 768px) {
  .about .title {
    font-size: 30px;
  }
  .about .aboutCompany {
    margin-top: 4rem;
  }
} */
