:root {
  --black: #0f0f0f;
  --white: #fff;
  --yellow: #fec63f;
  --gray: #222429;
  --lightGray: #6f7174;
}
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
  border-radius: 6px;

  /* border: 1px solid red; */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(
    --yellow
  ); /* Set the color of the scrollbar thumb/handle */
  border-radius: 6px;

  /* Optional: Add rounded corners to the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --gray
  ); /* Set the color of the scrollbar thumb/handle on hover */
}
