.Details-component {
  background-image: url(../../images/details.png);
  background-color: var(--black);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 7rem 0;
}
@media (max-width: 991px) {
  .Details-component {
    padding: 3rem 0;
  }
}
.Details-component .wrap-card .box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}
.Details-component .wrap-card .box img {
  width: 60%;
}
.Details-component .wrap-card .contint {
  margin-inline-start: 20px;
  color: var(--white);
}
.Details-component .wrap-card h2 {
  font-size: 2.75rem;
  font-weight: 700;
}
.Details-component .wrap-card h5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-top: 0.8rem;
}
